.nav-bar {
    width: 100%;
    display: flex;
    align-items: center; 
    justify-content: space-between; 
    margin-top: 5px;
}
  
.logo {
    flex: 1;
    width: 86px;
    height: 58px;
    margin: 10px 20px;
}

.logo:hover {
    color: var(--light-purple);
}

.navigation {
    display: flex;
    align-items: center;
    justify-content: space-around;
    list-style: none;
}
  
.navigation a {
    text-decoration: none;
    color: white;
    font-family: 'Montserrat', sans-serif;
    font-size: 18px;
    line-height: 20px;
    align-items: center;
    text-align: center;
}

.navigation a:hover {
    color: var(--light-purple);
}

.elem {
    margin: 0px 30px;
}

.apply-button {
    background: white;
    border-radius: 20px;
    width: 150px;
    line-height: 80%;
}

.apply-button a {
    color: var(--dark-purple);
    font-weight: bold;
}
