@import "../../../styles/common.css";

.vert-tl-wrapper {
  position: relative;
  max-width: 1000px;
  margin: 0 auto;
}

.tl-vert-line {
  position: absolute;
  right: 0;
  background-color: var(--light-purple);
  height: 80%;
  width: 5px;
  top: 65px;
  left: 86.5px;
  z-index: -1;
}

.timeline-table {
  border-spacing: 0 60px;
}

.tl-row h2, .tl-row h4, .tl-row p {
  margin: 0;
}

.tl-row h4 {
  font-family: "Source Code Pro", monospace;
  color: var(--dark-purple);
}

.tl-row .tl-left-text {
  white-space: nowrap;
  vertical-align: top;
  padding-top: 3px;
}

.tl-row .dot-cell{
  vertical-align: top;
}

.timeline-table > tr:last-child > td.dot-cell {
  background-color: white;
}

.tl-row .dot {
  height: 18px;
  width: 18px;
  border-radius: 50%;
  border: 5px solid var(--light-purple);
  background-color: var(--dark-purple);
  margin: -1px 15px;
}

.tl-row .tl-header {
  display: flex;
  flex-direction: row;
}

.tl-row .header-text {
  color: var(--dark-purple);
  line-height: 26px;
}

.tl-row .date-text {
  color: var(--dark-grey);
  align-self: flex-end;
  margin-left: 14px;
}

.tl-row .tl-description {
  margin-top: 15px;
}

@media screen and (max-width: 768px) {
  .tl-row .tl-header {
    flex-direction: column;
  }
  .tl-row .date-text {
    margin: 5px 0 0 0;
    align-self: flex-start;
  }
  .tl-row .tl-description {
    margin-top: 8px;
  }  
}

/* Hack for safari only CSS */
@media not all and (min-resolution:.001dpcm) {
  @supports (-webkit-appearance:none) {
    .tl-vert-line {
      left: 93px;
    }
  }
}