@import "../../../styles/common.css";

.vert-tl-wrapper {
  position: relative;
  max-width: 1100px;
  margin: 0 auto;
}

.tl-vert-line {
  position: absolute;
  right: 0;
  background-color: var(--light-purple);
  height: 80%;
  width: 2px;
  top: 65px;
  left: 95px;
  z-index: -1;
}

.timeline-table {
  border-spacing: 0 60px;
}

.tl-row h2,
.tl-row h4,
.tl-row p {
  margin: 0;
}

.tl-row h4 {
  font-family: Source Code Pro, monospace;
  font-size: 18px;
  color: var(--dark-purple);
}

.tl-row .tl-left-text {
  white-space: nowrap;
  vertical-align: top;
  padding-top: 1px;
}

.tl-row .dot-cell {
  vertical-align: top;
}

.timeline-table > tr:last-child > td.dot-cell {
  background-color: #fff6ec;
}

.tl-row .dot {
  height: 20px;
  width: 20px;
  border-radius: 50%;
  border: 4px solid var(--light-purple);
  background-color: var(--dark-purple);
  margin: -1px 15px;
  z-index: 3;
}

.tl-row .tl-header {
  display: flex;
  flex-direction: row;
}

.tl-row .header-text {
  color: var(--dark-purple);
  font-size: 26px;
  line-height: 26px;
}

.tl-row .date-text {
  color: var(--dark-grey);
  align-self: flex-end;
  margin-left: 20px;
  margin-bottom: 2px;
}

.tl-row .tl-description {
  margin-top: 15px;
}

@media screen and (max-width: 850px) {
  .tl-vert-line {
    background-color: var(--light-purple);
    height: 80%;
    width: 2px;
    top: 45px;
    left: 96px;
    z-index: -1;
  }
  .timeline-table {
    border-spacing: 0 25px;
  }
  .tl-row .tl-header {
    flex-direction: column;
  }
  .tl-row .header-text {
    color: var(--dark-purple);
    font-size: 20px;
    line-height: 26px;
  }
  .tl-row .date-text {
    margin: 5px 0 5px 0;
    align-self: flex-start;
  }
  .tl-row .tl-description {
    margin-top: 5px;
    font-size: 14px;
    line-height: 18px;
  }
}

/* Hack for safari only CSS */
@media not all and (min-resolution: 0.001dpcm) {
  @supports (-webkit-appearance: none) {
    .tl-vert-line {
      left: 93px;
    }
  }
}
