.question-card {
    display: flex;
    flex-direction: column;
    box-shadow: 0 1px 0 0 rgba(0,0,0,0.2);
    width: 100%;
    margin: 25px 10px;
}

.question-card:focus {
    outline: none;
}

.question-card:hover {
    cursor: pointer;
}

.symbol {
    flex: 0 0 100px;
    display: inline-flex;
    justify-content: center;
}

.expand-symbol {
    font-size: 44px;
    color: var(--dark-pink);
}

.top-half {
    display: flex;
    flex-direction: row;
    padding: 10px;
}

.top-half h2 {
    display: inline;
    font-size: 30px;
    color: var(--light-pink);
    transform: translateY(10px);
    margin: 0 0 10px 0;
}

.top-half h2:hover {
    color: var(--dark-pink);
}

.bottom-half p {
    margin-left: 40px;
}

.hidden {
    display: none;
}

@media screen and (max-width: 600px) {
    .symbol {
        flex: 0 0 50px;
    }

    .bottom-half p {
        margin-left: 25px;
    }
}