.project-name-purple{
  font-style: normal;
  font-weight: bold;
  font-size: 24px;
  line-height: 29px;
  text-align: center;
  color: #BEA9EF;
}

.description-purple{
  font-size: 16px;
  line-height: 25px;
  width: 90%;
  margin: auto;
}

.project-card-purple{
  box-shadow: 0px 4px 20px rgba(99, 49, 216, 0.75);
  text-align: center;
  padding: 20px;
  border-radius: 20px;
}

.project-card-image{
  width: 90%;
  border-radius: 10px;
}

@media screen and (max-width:768px){
  .project-card-purple{
    width: 90%;
  }

  .project-name-purple{
    font-size: 20px;
  }

  .description-purple{
    font-size: 14px;
    width: 95%;
    margin: auto;
  }
}