.project-card{
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    max-width: 800px;
    margin: 50px 50px;
}

.top {
    padding-top: 10px;
}
.project-card img {
    width: 80px;
    height: 80px;
    margin-left: 20px;
    vertical-align: middle;
}
.org-name {
    display: inline;
    color: grey;
    margin-left: 10px;
    vertical-align: middle;
}

.bottom {
    padding-bottom: 30px;
}
.description {
    padding: 0px 30px;
}

.bottom a {
    margin: 0px 0px 30px 30px;
    text-decoration: none;
}

  @import url('https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css');
