.project-card {
  box-shadow: 0px 4px 20px rgba(237, 49, 93, 0.5);
  padding: 10px calc((50% - (445px * 2)) / 2);
  margin: 3%;
  border-radius: 20px;
  flex-basis: 50%;
  max-width: calc((75% - 20px) / 2);
  min-width: 240px;
  max-height: 500px;
  min-height: 450px;
  position: relative;
  background-color: white;
}

.project-name {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #f58ea6;
  text-align: center;
}

.description {
  font-size: 16px;
  line-height: 25px;
  width: 80%;
  margin: 0 auto 10px;
  text-align: center;
}

.project-card-image-div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 50%;
  width: 100%;
}

.project-card-image-div a {
  height: 100%;
  width: 100%;
  text-align: center;
  display: flex;
}

.upcoming-project-card-image {
  margin: auto;
  max-height: 90%;
  max-width: 90%;
}

.upcoming-project-card-image:hover {
  transform: scale(1.03);
  height: auto;
}

.project-card-more {
  position: absolute;
  bottom: 5%;
  right: 5%;
  text-decoration: none;
  float: right;
  color: var(--dark-pink);
  font-size: 20px;
  font-weight: bold;
}

.project-off {
  color: white;
}

p:hover > .project-off {
  color: var(--dark-pink);
}

@media screen and (max-width: 1450px) {
  .project-card-more {
    bottom: 0;
  }
}

@media screen and (max-width: 900px) {
  .project-card {
    margin: 15px;
    height: 310px !important;
    min-height: unset;
    width: 250px;
    padding: 10px calc((50% - (270px * 2)) / 2);
    flex-basis: unset;
  }

  .project-name {
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 29px;
  }
  
  .description {
    font-size: 14px;
    line-height: 20px;
    width: 85%;
    margin: 0 auto 10px;
    text-align: center;
  }

  .project-card-more {
    font-size: 16px;
  }
  
  .project-card-image-div {
    display: flex;
    align-items: center;
    height: 100px;
    width: 100%;
  }
}
