
.project-card{
  width: 25%;
}
.project-name{
  margin-top: 0;
  font-style: normal;
  font-weight: 500;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
}
.description{
  font-style: normal;
  font-weight: 300;
  font-size: 16px;
  line-height: 19px;
  color: #000000;
  margin-bottom:0;
}
.view-project{
  font-style: normal;
  font-weight: normal;
  font-size: 20px;
  line-height: 23px;
  color: #000000;
}

.card-bottom{
  display:flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}