.project-card {
  box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.20); 
  border-radius: 0.5rem;
  min-height: 400px;
  position: relative;
  background-color: white;
  width: calc((100vw - 100px) / 3);
  width: max(40ch, 20vw);
  max-width: 80vw;
  overflow: hidden;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding-bottom: 3.0rem;
}

.project-card-text {
  font-family: Inter;
  padding: 1.25rem 1.25rem;
}

.primary-button {
  background-color: var(--darkest-purple);
  color: white;
  border: 0;
  border-radius: 0.2rem; 
  padding: 0.375rem 1.25rem; 
  text-decoration: none;
}

.project-card .primary-button {
  position: absolute;
  left: 0;
  bottom: 0;
  margin: 1.25rem;
}

.project-timeline {
  font-family: Source Code Pro;
  color: var(--light-gray);
}

.project-name {
  display: flex;
  align-items: center;
  font-style: normal;
  font-weight: 600;
  font-size: 1.5rem;
  line-height: 29px;
  color: black;
  text-decoration: none;
}

.description {
  font-size: 16px;
  line-height: 25px;
}

.project-card-image-div {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 15rem;
  width: 100%;
  /* background-image: url(https://static-koimoi.akamaized.net/wp-content/new-galleries/2022/08/the-batman-2-starring-robert-pattison-is-yet-to-be-greenlit-001.jpg); */
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  border-top-right-radius: 0.5rem;
  border-top-left-radius: 0.5rem;
}

.project-card-image {
  height: 80%;
  width: auto;
}

.upcoming-project-card-image:hover {
  transform: scale(1.03);
  height: auto;
}

.project-card-more {
  position: absolute;
  bottom: 5%;
  right: 5%;
  text-decoration: none;
  float: right;
  color: var(--dark-pink);
  font-size: 20px;
  font-weight: bold;
}

.project-off {
  color: white;
}

p:hover > .project-off {
  color: var(--dark-pink);
}

@media screen and (max-width: 900px) { 
  .project-card-image-div {
    height: 12.5rem;
  }
}