.project-name {
  font-style: normal;
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
  color: #f58ea6;
}

.description {
  font-size: 16px;
  line-height: 20px;
}

.project-card {
  box-shadow: 0px 4px 20px rgba(237, 49, 93, 0.5);
  padding: 10px;
  margin: 2%;
  border-radius: 20px;
  flex-basis: 20%;
}

.project-card-image {
  width: 90%;
  border-radius: 10px;
}
