@import "../../../styles/common.css";

html {
  scroll-behavior: smooth;
}

.ctc-ourwork-bg {
  background-color: white;
  min-height: 100%;
  height: 100vh;
  overflow-x: hidden;
  overflow-y: auto;
}

.ourwork-footer.ourwork-footer {
  position: static;
  margin-top: 40px;
}

.ctc-ourwork-header {
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-weight: 600;
  line-height: 48px;
  color: var(--dark-pink);
  margin: 100px 0 45px 0;
}

.ctc-ourwork-centered-container {
  display: flex;
  justify-content: center;
}

.ctc-ourwork-past-projects-header {
  align-self: flex-start;
  font-family: Inter;
  font-size: 48px;
  font-weight: 600;
  line-height: 48px;
  color: var(--dark-pink);
  margin: 20px 0 20px 150px;
}

.ctc-ourwork-current-projects {
  width: calc(100vw - 300px);
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
}

.ctc-ourwork-current-projects .project-card {
  flex: 0 0 calc(50% - 60px);
  border-radius: 20px;
  width: 50%;
  margin: 0 30px 60px 30px;
  min-height: 200px;
}

.ctc-ourwork-past-projects {
  display: flex;
  overflow-x: scroll;
  width: calc(100vw - 260px);
  margin-bottom: 50px;
}

.ctc-ourwork-past-projects-card {
  height: 510px;
  min-width: 360px;
  border-radius: 1.25rem;
  margin: 30px 30px 50px 30px;
  background-color: white;
  box-shadow: 0px 4px 10px 3px rgba(25, 22, 30, 0.29);
}

.ctc-ourwork-past-projects-card-img-container {
  height: 230px;
  padding: 20px;
}

.ctc-ourwork-past-projects-card-img {
  height: 100%;
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;

  border-top-right-radius: 5px;
  border-top-left-radius: 5px;

  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.ctc-ourwork-past-projects-card-text {
  padding: 20px;
}

.ctc-ourwork-past-projects-card-name {
  display: flex;
  align-items: center;

  text-decoration: none;
  line-height: 29px;
  font-size: 28px;
  font-weight: 600;
  color: black;
  margin: 0;
}

.ctc-ourwork-past-projects-card-timeline {
  font-family: Source Code Pro;
  font-size: 20px;
  font-weight: 400;
  color: var(--light-gray);
  margin: 10px 0px;
}

.ctc-ourwork-past-projects-card-description {
  width: 88%;
  padding-top: 2px;
  font-size: 14px;
  line-height: 24px;
  padding-bottom: 5px;
  color: black;
}

.ctc-ourwork-past-projects-card-buttons-div {
  display: flex;
}


.ctc-ourwork-past-projects-card-buttons-div a {
  text-decoration: none;
}

.ctc-ourwork-past-projects-card-github-button,
.ctc-ourwork-past-projects-card-case-study-button {
  cursor: pointer;
  padding: 6px 25px;
  border-radius: 2px;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.ctc-ourwork-past-projects-card-github-button {
  border: 0;
  background-color: var(--dark-purple);
  color: white;
}

.ctc-ourwork-past-projects-card-case-study-button {
  margin-left: 10px;
  background-color: white;
  color: var(--dark-purple);
  border: 1px solid var(--dark-purple);
}

@media screen and (max-width: 1200px) {
  .ctc-ourwork-header {
    font-size: 32px;
    line-height: 48px;
    color: var(--dark-pink);
    margin: 80px 0 30px 0;
  }
  .ctc-ourwork-current-projects {
    width: 90%;
    justify-content: center;
  }
  .ctc-ourwork-current-projects .project-card {
    flex: 0 0 90%;
    border-radius: 20px;
    margin-left: 7.5%;
    margin-bottom: 40px;
    min-height: 200px;
  }
  .ctc-ourwork-past-projects-header {
    text-align: center;
    width: 100%;
    align-self: flex-start;
    font-size: 32px;
    line-height: 48px;
    margin: 0;
  }
  .ctc-ourwork-past-projects {
    width: 88%;
    margin-top: 10px;
    margin-bottom: 50px;
  }
}

@media screen and (max-width: 600px) {
  .ctc-ourwork-current-projects .project-card {
    flex: 0 0 95%;
    border-radius: 20px;
    width: 95%;
    margin-left: 2.5%;
    margin-right: 2.5%;
  }
  .ctc-ourwork-past-projects {
    width: 95%;
    margin-top: 0px;
    margin-left: -15px;
    margin-bottom: 50px;
  }
  .ctc-ourwork-past-projects-card {
    height: 400px;
    min-width: 320px;
    border-radius: 5px;
    margin: 30px 5px 50px 30px;
    background-color: white;
    box-shadow: 0px 4px 15px rgba(237, 49, 93, 0.3);
  }
  .ctc-ourwork-past-projects-card-name {
    font-size: 24px;
  }
  .ctc-ourwork-past-projects-card-timeline {
    font-size: 18px;
  }
  .ctc-ourwork-past-projects-card-img-container {
    height: 100px;
    padding-bottom: 10px;
  }
  .ctc-ourwork-past-projects-card-text {
    padding: 0 22px;
  }
}

/* TEMPORARY */
.ctc-ourwork-comingsoon-box {
  width: 554px;
  height: 131px;
  max-width: 85vw;
  background: var(--dark-purple);
  border-radius: 1rem;
  display: flex;
  flex-direction: row;
  gap: 20px;
  justify-content: center;
  align-items: space-between;
  padding: 5px 15px;
  margin-bottom: 20px
}

.ctc-ourwork-comingsoon-p {
  width: 400px;
  display: flex;
  align-items: center;
  color: #fff;
  font-family: 'Inter';
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 29px;
}

.ctc-ourwork-comingsoon-logo {
  width: 60px;
  height: auto;
}