@import "../../../styles/common.css";

html {
  scroll-behavior: smooth;
}

.our-work-panel-img {
  width: 75%;
  max-height: 600px;
}

.upcoming-projects-title {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
  text-align: center;
  color: var(--dark-pink);
  text-shadow: 1px 0 var(--dark-pink);
  margin: 50px;
}

.upcoming-projects-description {
  text-align: center;
  font-size: 18px;
  line-height: 22px;
}

.projects {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  padding-left: 5%;
  padding-right: 5%;
}

#middle-our-work {
    /* height:100vh; */
    max-width: 2000px;
    margin: 40px auto;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    padding: 100px 0 150px 0;
    position: relative;
    background:
      url('../../../images/ourWork/solid-red-1.svg'), 
      url('../../../images/ourWork/clear-red-1.svg'),
      url('../../../images/ourWork/solid-red-2.svg'),
      url('../../../images/ourWork/clear-red-2.svg'),
      url('../../../images/ourWork/solid-red-3.svg'),
      url('../../../images/ourWork/clear-red-3.svg'),
      url('../../../images/ourWork/solid-red-4.svg'),
      url('../../../images/ourWork/clear-red-4.svg'),
      url('../../../images/ourWork/solid-red-5.svg'),
      url('../../../images/ourWork/clear-red-5.svg'),
      url('../../../images/ourWork/solid-red-6.svg'),
      url('../../../images/ourWork/clear-red-6.svg');
    background-position: 
      10% 5%, calc(10% - 100px) calc(5% + 50px), 
      95% calc(5% + 25px), calc(95% - 50px) calc(5% - 50px), 
      5% calc(50% + 20px), 5% 45%, 
      calc(95% + 65px) calc(45% - 75px), calc(95% + 50px) calc(45% - 30px),
      5% calc(75% + 20px), calc(10% + 30px) calc(90% - 30px),
      calc(85% + 25px) calc(90% + 20px), calc(95% + 10px) calc(80% + 70px);
    background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
    background-size: 
      170px, 
      300px,
      170px,
      300px, 
      170px, 
      300px, 
      170px, 
      300px,
      170px,
      300px;
}

.past-projects-section {
  /* height:100vh; */
  max-width: 2000px;
  margin: 40px auto;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  padding: 100px 0 150px 0;
  display: flex;
  flex-direction: column;
  justify-content: space-evenly;
  position: relative;
  background:
    url('../../../images/ourWork/solid-purple-1.svg'),
    url('../../../images/ourWork/clear-purple-1.svg'),
    url('../../../images/ourWork/solid-purple-2.svg'),
    url('../../../images/ourWork/clear-purple-2.svg'),
    url('../../../images/ourWork/solid-purple-3.svg'),
    url('../../../images/ourWork/clear-purple-3.svg'),
    url('../../../images/ourWork/solid-purple-4.svg'),
    url('../../../images/ourWork/clear-purple-4.svg'),
    url('../../../images/ourWork/solid-purple-5.svg'),
    url('../../../images/ourWork/clear-purple-5.svg'),
    url('../../../images/ourWork/solid-purple-6.svg'),
    url('../../../images/ourWork/clear-purple-6.svg');
  background-position: 
    calc(5% - 15px) calc(15% + 10px), calc(10% - 50px) calc(5% + 30px), 
    calc(90% + 35px) calc(15% - 25px), calc(95% + 5px) calc(10% - 25px),
    calc(10% - 20px) 40%, 5% 45%, 
    calc(95% - 25px) calc(40% + 20px), calc(95% + 50px) calc(45% - 30px), 
    5% calc(80% - 20px), calc(5% + 25px) calc(75% + 20px), 
    calc(90% - 30px) 75%, calc(95% - 20px) calc(75% + 55px);
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat, no-repeat;
  background-size: 
    180px, 
    260px,
    220px,
    220px, 
    220px, 
    220px, 
    220px, 
    260px,
    180px,
    220px,
    180px,
    220px;
}

/* Taking out triangle animations for now */
/* #middle-our-work:hover{
    animation: animateShapes 0.5s ease-out;
    animation-delay: 0.5s;
} */

@keyframes animateShapes {
    0% { background-position: 
        10% 5%, 
        calc(10% - 100px) calc(5% + 50px), 
        95% 20%, 
        calc(95% - 50px) calc(20% - 50px), 
        5% 90%, 
        5% 90%, 
        90% 90%, 
        calc(90% - 0px) calc(90% + 100px); }
    25% { background-position: 
        11% 4%, 
        calc(9% - 100px) calc(8% + 50px), 
        95% 20%, 
        calc(95% - 50px) calc(20% - 50px), 
        7% 90%, 
        5% 90%, 
        90% 90%, 
        calc(90% - 0px) calc(90% + 100px); }
    50% { background-position: 
        9.7% 5.3%, 
        calc(10.7% - 100px) calc(4.3% + 50px), 
        95% 20%, 
        calc(95% - 50px) calc(20% - 50px),  
        5% 90%, 
        5% 90%, 
        89.5% 89,5%, 
        calc(91% - 0px) calc(91% + 100px);}
    75% { background-position: 
        10% 5%, 
        calc(10% - 100px) calc(5% + 50px), 
        95% 20%, 
        calc(95% - 50px) calc(10% - 50px),  
        5% 90%, 
        5% 90%, 
        89% 89%, 
        calc(91.5% - 0px) calc(91.5% + 100px);}    
    100% { background-position: 
        10% 5%, 
        calc(10% - 100px) calc(5% + 50px), 
        95% 20%, 
        calc(95% - 50px) calc(20% - 50px), 
        5% 90%, 
        5% 90%, 
        90% 90%, 
        calc(90% - 0px) calc(90% + 100px); }
}

@media only screen and (max-width: 1300px) {
    #middle-our-work {
        background-size: 
        130px, 
        200px,
        130px, 
        200px,
        130px, 
        200px,
        130px, 
        200px,
        130px,
        200px,
        130px,
        200px;
    }

    .past-projects-section {
        background-size: 
        130px, 
        160px,
        145px, 
        145px,
        145px, 
        145px,
        145px, 
        160px,
        130px,
        145px,
        130px,
        145px;
    }
}


.past-project-div, .bottom-card-div {
  flex: 1;
}

.bottom-card {
  max-width: 800px;
  width: 90%;
  float: left;
}

@media screen and (min-width:2100px) {
  .upcoming-projects-title {
    margin: 3%;
  }
}

@media screen and (max-width:768px) {
    .projects {
        display:flex;
        flex-direction: column;
    }

    #middle-our-work, .past-projects-section {
        height: auto;
        background-image:none;
    }
}

.past-project-content {
  width: 80%;
  float: right;
}

.past-projects-title {
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 40px;
  margin: 50px;
  text-align: center;
  color: var(--dark-purple);
  text-shadow: 1px 0 var(--dark-purple)
}

.past-project-description {
  width: 90%;
  line-height: 25px;
}

@media screen and (max-width: 875px) {
  .projects {
    display: flex;
    flex-direction: column;
    margin: 0 auto;
  }

  #middle-our-work, .past-projects-section {
    height: auto;
    padding: 0;
  }

  .past-projects-section {
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  .upcoming-projects-title {
    margin-top: 15vh;
    font-size: 28px;
  }

  .upcoming-projects-description {
    font-size: 14px;
    width: 75%;
    margin: 0 auto 20px;
  }

  .past-project-section {
    height: 100%;
    margin: 15vh 0;
  }

  .past-project-content {
    text-align: center;
    float: none;
    margin: 0 auto;
  }

  .past-projects-title {
    margin-top: 50px;
    font-size: 28px;
    text-align: center;
  }

  .past-project-description {
    font-size: 14px;
    width: 90%;
    margin: 0 auto 20px;
    text-align: center;
  }

  .bottom-card {
    margin: 0 auto;
    float: none;
    width: 75%;
  }

  .bottom-card-div {
    margin: 30px auto;
  }
}