
.team-experience-container {
    display: flex;
    flex-direction: row;
    padding: 20px;
}

.team-experience-container:nth-child(even) {
    flex-direction: row-reverse;
    text-align: right;
}

.padding-class {
    padding-right: 30px;
}

.team-experience-container .image-container .member-image {
    border-radius: 50%;
    border: 18px solid #BEA9EF80;
}

.team-experience-container .member-details {
    display: flex;
    flex-direction: column;
    max-width: 34%;
}

.member-details .member-section-1 .member-name {
    font-size: 30px;
    font-weight: bold;
    line-height: 30px;
    text-shadow: 1px 0 #FFFFFF;
    margin: 0;
}

.member-details .member-section-1 .member-position {
    font-size: 22;
    font-weight: 600;
    line-height: 30px;
    margin: 0;
    font-family: "Source Code Pro";
}

.member-details .member-experience {
    font-size: 16px;
    line-height: 25px;
}

@media screen and (max-width: 800px) {

    .team-experience-container {
        flex-direction: column;
        align-items: center;
    }

    .team-experience-container:nth-child(even) {
        flex-direction: column;
        text-align: left;
    }

    .padding-class {
        padding-right: 0;
    }

    .member-details .member-section-1 {
        margin-top: 20px;
        text-align: center;
    }

    .team-experience-container .member-details {
        max-width: 100%;
    }

    .member-details .member-section-1 .member-name {
        font-size: 24px;
    }

}