@import "../../../styles/common.css";

html {
  scroll-behavior: smooth;
}

.t-card {
  height: 500px;
  min-width: 320px;
  border-radius: 9px;
  margin: 30px 35px 40px 35px;
  padding: 20px;
  background-color: var(--dark-purple);
  box-shadow: 0px 4px 10px 3px rgba(25, 22, 30, 0.5);
}

.t-card-img-container {
  display: flex;
  justify-content: center;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.t-card-img {
  height: 150px;
  border: 6px solid white;
  border-radius: 75px;
  margin: 0 0 15px 0;
}

.t-card-name {
  text-align: center;
  font-size: 28px;
  font-weight: 600;
  color: white;
  margin: 0;
}

.t-card-pos {
  text-align: center;
  font-size: 20px;
  font-weight: 400;
  color: white;
  margin: 10px;
}

.t-card-p {
  text-align: left;
  width: 88%;
  margin-left: 6%;
  padding-top: 2px;
  font-size: 16px;
  line-height: 24px;
  color: white;
}

.ctc-apply-bg {
  background-color: white;
  min-height: 100%;
  height: 100vh;
  width: 100vw;
  overflow-x: hidden;
  overflow-y: auto;
}

.ctc-apply-email-link {
  font-weight: 600;
  color: var(--dark-pink);
}

.ctc-apply-footer.ctc-apply-footer {
  position: static;
  margin-top: 0px;
}

.ctc-apply-1-bg {
  width: 100vw;
  height: clamp(1000px, 70%, 70%);
  max-height: calc(100vh - 60px);
  background-image: url("../../../images/apply/join.jpg");
  background-color: rgba(24, 9, 58, 0.3);
  background-blend-mode: multiply;
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center top;
}

.ctc-apply-1-container {
  height: 45%;
  margin-top: 60px;
  width: 60%;
  margin-left: 20%;
  z-index: 3;
}

.ctc-apply-1-header {
  color: white;
  font-family: Source Code Pro;
  font-size: 32px;
  font-weight: 500;
  line-height: 48px;
  text-align: center;
  padding-top: 25%;
  margin: 0;
  /* margin: 100px 0 0 0; */
}

.ctc-apply-1-subhead {
  color: white;
  font-family: Inter;
  font-size: 64px;
  font-weight: 600;
  line-height: 64px;
  text-align: center;
  margin: 10px 0 40px 0;
}

.ctc-apply-1-p {
  color: white;
  text-align: center;
  margin: 30px 0;
  width: 90%;
  margin-left: 5%;
}

.ctc-apply-1-buttons {
  display: flex;
  justify-content: center;
  margin: 45px 0;
}

.ctc-apply-1-applink {
  text-decoration: none;
}

.ctc-apply-1-applink-disabled {
  cursor: not-allowed;
  text-decoration: none;
}

.ctc-apply-1-apply {
  border: 1.5px solid var(--dark-purple);
  color: var(--dark-purple);
  background-color: white;
  font-weight: 500;
  padding: 6px 30px;
  border-radius: 3px;
  display: inline;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.ctc-apply-1-apply-disabled {
  border: 1.5px solid black;
  color: black;
  background-color: rgba(128, 128, 128, 0.5);
  font-weight: 500;
  padding: 6px 30px;
  border-radius: 3px;
  display: inline;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.ctc-apply-2-bg {
  width: 100%;
  padding-bottom: 4rem;
  /* height: 1200px; */
  /* background-image: url("../../../images/apply/solid-purple-1.svg"),
    url("../../../images/apply/clear-purple-1.svg"),
    url("../../../images/apply/solid-purple-2.svg"),
    url("../../../images/apply/clear-purple-2.svg"),
    url("../../../images/apply/solid-purple-3.svg"),
    url("../../../images/apply/clear-purple-3.svg"),
    url("../../../images/apply/clear-and-solid-purple-4.svg"),
    url("../../../images/apply/clear-and-solid-purple-5.svg");
  background-position: calc(70% - 45px) calc(5% + 10px),
    calc(75% - 40px) calc(-5% + 30px), 0 calc(25% - 40px), 0 25%,
    70% calc(50% - 50px), calc(70% - 40px), calc(10% - 30px) 110%, 100% 150%;
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat,
    no-repeat, no-repeat, no-repeat;
  background-size: 180px, 260px, 90px, 210px, 180px, 260px, 600px, 375px;
  background- */
}

.ctc-apply-2-header {
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-weight: 600;
  color: var(--dark-pink);
  padding-top: 80px;
  margin: 0 0 80px 0;
}


.ctc-apply-2-columns {
  display: flex;
  align-items: stretch;
  justify-content: space-evenly;
  width: 90vw;
  margin-left: 5vw;
  position: relative;
}

.ctc-apply-2-column {
  width: min(55ch, 45vw);
  padding: 2rem 2rem 5rem 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ctc-apply-2-separator{
  min-width: 0.3125rem;
  min-height: 0.3125rem;
  background-color: #ffe9ee;;
}

.ctc-apply-2-apply-button {
  position: absolute;
  bottom: 0;
  font-size: 1.5rem;
  padding: 0.5rem 2.25rem;
  text-decoration: none;
  background-color: var(--dark-pink);
  color: white;
  border-radius: 0.25rem;
}

.ctc-apply-2-column-image {
  height: 9.5rem;
}

.ctc-apply-2-column-title {
  font-size: 32px;
  font-weight: 600;
  margin: 0;
  margin-top: 1.5rem;
  width: 100%;
}

.ctc-apply-2-column-p {
  font-size: 22px;
  line-height: 36px;
  font-weight: 400;
  width: 100%;
}

.ctc-apply-2-list-item {
  font-family: Inter;
  font-size: 20px;
  line-height: 32px;
  font-weight: 400;
  margin-bottom: 4px;
}

.ctc-apply-3-bg {
  width: 100%;
  height: 800px;
}

.ctc-apply-3-container {
  width: 85%;
  margin-left: 7.5%;
}

.ctc-apply-3-header {
  font-family: Inter;
  font-size: 48px;
  font-weight: 600;
  color: var(--dark-purple);
  margin: 0 0 20px 0;
}

.ctc-apply-3-t {
  margin: 0 5%;
  padding-bottom: 20px;
  overflow-x: scroll;
  display: flex;
}

.ctc-apply-4-bg {
  width: 100%;
  padding-bottom: 2rem;
  background-color: #fff6ec;
  position: relative;
  z-index: 1;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.ctc-apply-4-header {
  text-align: center;
  font-family: Inter;
  font-size: 48px;
  font-weight: 600;
  color: var(--dark-purple);
  padding-top: 50px;
  margin: 0 0 40px 0;
}

.ctc-apply-4-p {
  width: min(50ch, 90vw);
  margin-bottom: 1rem;
  font-family: Inter;
  font-size: 1.25rem;
  line-height: 145%;
}

.ctc-apply-4-bold {
  font-weight: 600;
}

.ctc-apply-4-timeline-container {
  width: 65%;
}

.ctc-apply-4-buttons {
  display: flex;
  justify-content: center;
}

.ctc-apply-4-applink {
  text-decoration: none;
}

.ctc-apply-4-applink-disabled {
  cursor: not-allowed;
  text-decoration: none;
}

.ctc-apply-4-apply {
  border: 1.5px solid var(--dark-purple);
  color: var(--dark-purple);
  background-color: white;
  font-size: 20px;
  font-weight: 500;
  padding: 6px 30px;
  border-radius: 3px;
  display: inline;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.ctc-apply-4-apply-disabled {
  border: 1.5px solid black;
  color: black;
  background-color: rgba(128, 128, 128, 0.6);
  font-weight: 500;
  padding: 6px 30px;
  border-radius: 3px;
  display: inline;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.ctc-apply-5-bg {
  width: 100%;
  padding-bottom: 10rem;
  background-color: white;
  position: relative;
  z-index: 1;
}

.ctc-apply-5-top {
  /* background-image: url("../../../images/apply/ellipse.svg");
  background-repeat: no-repeat;
  background-size: contain;
  background-position: 50% calc(10px - 10%);
  height: calc(30vw + 5px); */
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.ctc-apply-5-header {
  position: relative;
  text-align: center;
  font-family: Inter;
  font-size: 3rem;
  font-weight: 600;
  line-height: 48px;
  color: var(--dark-pink);
  /* padding-top: calc(5.5% + 20px);
  margin: 0; */
}

.ctc-apply-5-faq-container {
  display: flex;
  justify-content: center;
  margin-top: calc(10px - 2%);
}

/* #application-steps {
  max-width: 2000px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding-top: 10px;
  background: url("../../../images/apply/solid-red-1.svg"),
    url("../../../images/apply/clear-red-1.svg"),
    url("../../../images/apply/solid-red-2.svg"),
    url("../../../images/apply/clear-red-2.svg"),
    url("../../../images/apply/solid-red-3.svg"),
    url("../../../images/apply/clear-red-3.svg"),
    url("../../../images/apply/solid-red-4.svg"),
    url("../../../images/apply/clear-red-4.svg"),
    url("../../../images/apply/solid-red-5.svg"),
    url("../../../images/apply/clear-red-5.svg"),
    url("../../../images/apply/solid-red-6.svg"),
    url("../../../images/apply/clear-red-6.svg");
  background-position: 10% 5%, calc(10% - 100px) 5%, 95% calc(15% + 45px),
    calc(95% - 50px) 10%, 5% calc(55% + 20px), 5% 50%,
    calc(95% + 65px) calc(45% + 25px), calc(95% + 50px) calc(50% + 30px),
    2% calc(75% + 50px), calc(5% + 30px) calc(95% + 20px),
    calc(90% - 20px) calc(95% + 20px), calc(95% + 10px) calc(80% + 90px);
  background-repeat: no-repeat, no-repeat, no-repeat, no-repeat, no-repeat,
    no-repeat, no-repeat, no-repeat;
  background-size: 130px, 250px, 130px, 250px, 130px, 250px, 130px, 250px, 130px,
    250px;
} */


@media screen and (max-width: 850px) {
  .t-card {
    height: 420px;
    min-width: 250px;
    margin: 20px 20px 35px 20px;
    filter: drop-shadow(0 5px 6px #aaa);
  }
  .t-card-img {
    height: 100px;
    border: 4px solid white;
    border-radius: 50px;
    margin: 0 0 12px 0;
  }
  .t-card-name {
    font-size: 20px;
    margin: 0;
  }
  .t-card-pos {
    text-align: center;
    font-size: 16px;
    margin: 8px;
  }
  .t-card-p {
    width: 94%;
    margin-left: 3%;
    padding-top: 2px;
    font-size: 16px;
    line-height: 24px;
  }
  .ctc-apply-1-bg {
    height: 500px;
  }
  .ctc-apply-1-container {
    width: 90%;
    margin-left: 5%;
  }
  .ctc-apply-1-header {
    font-size: 24px;
    padding-top: calc(15% + 10px);
  }
  .ctc-apply-1-subhead {
    font-size: 40px;
    line-height: 50px;
    margin: 20px 0 30px 0;
  }
  .ctc-apply-2-columns {
    flex-direction: column;
    align-items: center;
  }
  .ctc-apply-2-separator {
    width: 100%;
  }
  .ctc-apply-2-column {
    width: 80vw;
  }
  .ctc-apply-2-apply-button {
    position: initial;
  }
  .ctc-apply-3-bg {
    height: 700px;
  }
  .ctc-apply-3-header {
    font-size: 32px;
    padding-top: 20px;
    margin: 0 0 20px 0;
    text-align: center;
  }
  .ctc-apply-4-header {
    font-size: 32px;
    padding-top: 40px;
    margin: 0 0 20px 0;
  }
  .ctc-apply-4-p {
    font-size: 14px;
    line-height: 24px;
  }
  .ctc-apply-4-timeline-container {
    width: 80%;
    margin-left: 10%;
  }
  .ctc-apply-4-buttons {
    margin-top: 10px;
  }
  
  .ctc-apply-2-column-title,
  .ctc-apply-5-header {
    font-size: 2rem;
    text-align: center;
  }
  .ctc-apply-5-faq-container {
    display: flex;
    justify-content: center;
    margin-top: calc(10px - 2%);
  }
  .ctc-apply-5-faq-container {
    margin-top: calc(10px - 2%);
  }
}

