@import "../../../styles/common.css";

.footer {
    left: 0;
    bottom: 0;
    width: 100%;
    background-color: #481DAB;
    color: white;
    font-family: 'Montserrat', sans-serif;
}

.columns {
    display: flex;
    flex-direction: row;
    font-size: 15px;
    padding: 50px 40px;
    max-width: 2000px;
    margin: 0 auto;
}

.left-column {
    flex: 1;
    font-style: normal;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    flex-direction: column;
    padding-top: 25px;
    box-sizing: border-box;
}

.inner-left {
    padding-left: 20px;
}

.middle-column {
    flex: 2;
    text-align: center;
    color: #f2f2f2;
    line-height: 15px;
}

.footer-logo{
    width: 100px;
    height: auto;
    padding-bottom: 10px;
}

.middle-column h2{
    margin-bottom: 30px;
}

.middle-column a{
    margin: 0px 10px;
    color: #f2f2f2;
}

.social-logos {
    width: 20px;
    filter: invert(100%) sepia(0%) saturate(7479%) hue-rotate(70deg) brightness(99%) contrast(107%);
}

.social-logos-medium{
    width: 23px;
}

.social-logos-mail{
    width: 23px;
}

.middle-column a:hover {
    color: var(--light-purple);
}

.right-column {
    flex: 1;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
    margin-left: auto;
    margin-right: auto;
    padding-top: 25px;
}

.right-column a {
    text-decoration: none; 
    color: #f2f2f2;
}

.right-column a:hover {
    color: var(--light-purple);
}

.inner-right {
    padding-left: 120px;
}

@media screen and (max-width: 800px) {
    .columns {
      flex-direction: column;
      padding: 0;
      width: 100%;
    }

    .left-column{
        order: 2;
        text-align: center;
        margin-top: 20px;
        margin-bottom: 10px;
    }

    .inner-left {
        padding-left: 0;
    }

    .middle-column{
        order: 1;
        margin-top: 40px;
        line-height: 30px;
    }

    .middle-column a {
        line-height: 30px;
        margin: 0 8px;
    }

    /* .fa-lg {
        line-height: 1em;
    } */

    .footer-logo{
        width: 100px;
        height: auto;
    }

    .right-column{
        order: 3;
        text-align: center;
        margin-bottom: 40px;
    }

    .inner-right {
        padding-left: 0;
    }

}
