/**

Commit the Change website environment styles.

**/

/* Inter Font */
@import url("https://rsms.me/inter/inter.css");

/* Montserrat Font */
@import url("https://fonts.googleapis.com/css2?family=Montserrat&display=swap");
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&display=swap'); */

/* Source Code Pro for timeline */
@import url("https://fonts.googleapis.com/css2?family=Source+Code+Pro&display=swap");

/* Secondary and Accent Colors */
:root {
  --darkest-purple: #481dab;
  --dark-purple: #6331d8;
  --light-purple: #bea9ef;
  --orange: #fc5d03;
  --yellow: #fc9803;
  --dark-pink: #ed315d;
  --light-pink: #f58ea6;
  --lighter-pink: #fed4dd;
  --light-gray: #9b9b9b;
  -webkit-overflow-scrolling: touch;
}

* {
  font-family: Inter;
  max-width: 100%;
}

::-webkit-scrollbar {
  width: 8px;
}

::-webkit-scrollbar-thumb {
  border-radius: 4px;
  background-color: #888;
}

::-webkit-scrollbar-button {
  height: 0px;
}

::selection {
  background: var(--light-purple); /* WebKit/Blink Browsers */
}
::-moz-selection {
  background: var(--light-purple); /* Gecko Browsers */
}

.ctc-button,
.ctc-button-disabled {
  padding: 0.5rem 2.25rem;
  text-decoration: none;
  background-color: var(--dark-pink);
  color: white;
  border-radius: 0.25rem;
  cursor: pointer;
}

.ctc-button-disabled {
  cursor: not-allowed;
  background-color: var(--light-pink);
}

/* .common-button {
  border-radius: 4px;
  font-size: 18px;
  color: white;
  font-weight: 500;
  line-height: 36px;
  text-decoration: none;
  padding: 0px 30px;
  margin-top: 30px;
  width: 100px;
  cursor: pointer;
} */

@media screen and (max-width: 800px) {
  .top-panel {
    width: 100%;
    flex-direction: column;
    align-items: center;
  }

  .top-panel-text {
    text-align: center;
    padding: 0;
    margin-left: 0;
    width: 96%;
    order: 1;
    margin-bottom: 0;
    margin-top: 8vh;
  }

  .inside-top-panel-text {
    padding-left: 0;
    float: none;
  }

  .top-panel-pic {
    order: 2;
    width: 100%;
    margin-top: 25px;
    padding: 0;
    margin-bottom: 35%;
    text-align: center;
  }

  .top-panel-title {
    font-size: 36px;
    line-height: 36px;
  }

  .top-panel-description {
    font-size: 16px;
    line-height: 22px;
    margin-bottom: 15px;
    padding: 0 20px;
  }

  .common-pink-button {
    font-size: 14px;
  }
}
