@import "../../../styles/common.css";

html {
  scroll-behavior: smooth;
}

.about-top-panel-img {
  width: 80%;
  max-height: 500px;
}

.links {
  width: 100%;
  background-color: var(--dark-purple);
  display: flex;
  justify-content: space-around;
  padding: 0.7em 0;
  display: none;
}

.links a {
  color: white;
  text-decoration: none;
}

.off {
  color: var(--dark-purple);
}

h2:hover > .off {
  color: white;
}

.our-mission-panel {
  margin: 0;
  padding: 80px 0;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  background-color: rgb(128, 88, 222);
}

.mission-text {
  width: 65%;
  color: white;
  padding-right: 80px;
}

.mission-text h1 {
  padding: 20px 0;
  font-size: 45px;
  margin: 0 auto;
}

.mission-text-description {
  font-size: 22px;
  margin: 0 auto;
  line-height: 1.6;
}

.chevron {
  font-size: 25px;
}

.ctc-logo {
  width: 50%;
  display: flex;
  flex-direction: row-reverse;
}

.ctc-logo img {
  width: 100%;
}

.our-values-panel {
  text-align: center;
  margin: 100px auto;
  max-width: 2000px;
}

.our-values-panel h1 {
  color: var(--dark-purple);
  font-size: 40px;
}

.values-description{
  width: 60%;
  margin: 0px auto 20px auto;
  line-height: 25px;
}

.value img {
  height: 100px;
}


.value-row-1 {
  width: 70%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 10px auto;
}

.value-row-2 {
  width: 50%;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  margin: 10px auto;
}

.value {
  flex: 0 1 400px;
  box-shadow: 0px 4px 20px rgba(99, 49, 216, 0.55);
  border-radius: 20px;
  margin: 30px 10px;
  padding: 10px 10px 0px 10px;
}

.value span {
  font-size: 70px;
}

.value h2 {
  color: var(--dark-purple);
}

.value p {
  padding: 10px 30px;
  line-height: 25px;
}

.small-image {
  width: 200px;
  height: auto;
  padding: 20px;
}

.our-team-panel {
  max-width: 2000px;
  margin: 50px auto;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.our-team-panel > h1 {
  font-size: 40px;
  text-align: center;
  color: var(--dark-purple);
}

.our-team-description {
  font-size: 18px;
  line-height: 25px;
}

.team-photos {
  display: grid;
  grid-template-columns: repeat(4, minmax(220px, 350px));
  grid-auto-rows: 1fr;
  gap: 4rem;
  margin: 4rem;
}

.team-photos::before {
  content: '';
  display: block;
  padding-bottom: 100%;
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

.team-photos > *:first-child {
  grid-row: 1 / 1;
  grid-column: 1 / 1;
}

@media screen and (max-width: 1290px) {
  .links {
    flex-direction: column;
    justify-content: space-between;
  }

  .links a {
    padding: 0em 1em;
    text-align: center;
  }

  .team-photos {
    grid-template-columns: 1fr 1fr;
  }
  
  .value-row-1 {
    width: 85%;
  }

  .value-row-2 {
    width: 60%;
  }

}

@media screen and (max-width: 800px) {
  .about-top-panel-img {
    width: 70%;
  }

  .mission-text h1 {
    text-align: center;
    font-size: 32px;
  }

  .mission-text {
    text-align: center;
    width: 100%;
    padding: 0;
  }

  .mission-text p {
    font-size: 14px;
    line-height: 22px;
    padding: 0 20%;
  }

  .ctc-logo {
    display: none;
  }

  .top-panel {
    flex-direction: column;
  }

  .panel-left {
    margin-bottom: 50px;
  }

  .panel-right img {
    height: 20vh;
    flex: 1 1 50%;
  }

  .ctc-logo {
    display: none;
  }

  .value-row-1,
  .value-row-2 {
    flex-direction: column;
    width: 80%;
  }

  .value {
    flex: 0;
    margin: 30px auto;
  }

  .value h2 { 
    margin: 10px;
    font-size: 22px;
  }

  .value p {
    font-size: 14px;
    margin: 10px;
  }

  .our-values-panel > p {
    width: 80%;
    margin: 0px auto 15px auto;
    font-size: 14px;
  }

  .our-team-panel h1 {
    font-size: 32px;
  }

  .our-team-description {
    font-size: 14px;
    text-align: center;
    width: 85%;
  }  

  .our-values-panel h1 {
    font-size: 32px;
  }
}

@media screen and (max-width: 680px) {
  .team-photos {
      grid-template-columns: 1fr;
  }
}