@import '../../../styles/common.css';

.ctc-about-bg {
  background-color: white;
  min-height: 100%;
  height: 100vh;
  width: 100vw;
  overflow: auto;
}

.about-footer.about-footer {
  position: static;
  margin-top: 0px;
}

.about-panel-1 {
  height: 1100px;
  background-image: url(../../../../src/images/about/aboutus-img.jpg);
  background-color: rgba(24, 9, 58, 0.25);
  background-blend-mode: multiply;
  background-size: cover;
  background-repeat: no-repeat;
}

.about-1-left {
  color: white;
}

.about-1-left-body {
  margin: 60px 10%;
  height: 281px;
  width: 32%;
}

.about-1-left-heading {
  font-size: 48px;
  font-weight: 600;
  padding-top: 350px;
  margin-bottom: 25px;
}

.about-1-left-paragraph {
  font-size: 20px;
  line-height: 32px;
  margin-left: 1px;
}

.about-panel-2 {
  height: 850px;
}

.about-2-text {
  width: 70%;
  height: 20%;
  margin: auto;
  align-items: center;
}

.about-2-header {
  text-align: center;
  margin-top: 110px;
  margin-bottom: 60px;
  font-size: 48px;
  color: var(--dark-pink);
  font-weight: 600;
}

.about-2-paragraph-1 {
  text-align: center;
  line-height: 145%;
  font-size: 24px;
}

.about-2-paragraph-2 {
  text-align: center;
  line-height: 145%;
  font-size: 24px;
  margin-top: 60px;
}

.yellow-semicircle {
  margin-bottom: -712px;
  width: 100%;
}

.about-panel-3 {
  height: 1150px;
  background-color: var(--dark-purple);
}

.about-3-header {
  color: white;
  font-weight: 600;
  font-size: 48px;
  padding-top: 70px;
  padding-left: 70px;
  margin-bottom: 75px;
}

.values-container {
  width: 70%;
  height: 60%;
  margin-left: 15%;
}

.value-container {
  width: calc(33% - 50px);
  height: 310px;
  margin: auto;
}

.values-row-2 .value-container {
  margin: auto 65px;
}

.value-info {
  width: 100%;
}

.values-row-1 {
  width: 90%;
  height: 30%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: calc(20px + 2vh) 5% 0 5%;
}

.values-row-2 {
  width: 90%;
  height: 30%;
  display: flex;
  flex-direction: row;
  justify-content: center;
  margin: calc(80px + 8vh - 5vw) 5% 0 5%;
}

.value-name {
  font-weight: 600;
  font-size: 24px;
  line-height: 29px;
}

img.value-icon {
  display: block;
  width: auto;
  margin: 24px auto;
}

.value-name, .value-desc {
  color: white;
  text-align: center;
  margin: auto;
  margin-bottom: 24px;
}

.value-desc {
  line-height: 28px;
}

.about-panel-4 {
  height: 1000px;
  background-color: #fefefe;
}

.about-4-header {
  text-align: center;
  font-weight: 500;
  font-size: 48px;
  padding-top: 80px;
  margin-top: 0;
}

.about-4-p {
  font-weight: 400;
  font-size: 24px;
  line-height: 40px;
  width: 85%;
  margin-left: 7.5%;
  padding: 30px 0;
  margin-top: 0;
}

.about-4-alumni-container {
  display: flex;
  justify-content: center;
  margin: 80px 0;
}

.about-4-alumni-img {
  background-image: url('../../../images/about/alumni.png');
  background-repeat: no-repeat;
  background-position: center top;
  background-size: contain;
  width: 80%;
  height: 500px;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

@media screen and (max-width: 1200px) {
  .values-row-2 .value-container {
    width: calc(50% - 100px);
  }
}

@media screen and (max-width: 850px) {
  .about-panel-3 {
    height: calc(1550px + 25vh);
    background-color: var(--dark-purple);
  }
  .about-3-header {
    text-align: center;
    padding-left: 0;
    padding-bottom: 20px;
  }
  .value-container {
    width: 60%;
    height: calc(220px + 5vh);
    margin-bottom: calc(20px + 2vh);
  }
  .about-panel-4 {
    height: 700px;
    background-color: #fefefe;
  } 
  .about-4-header {
    padding-top: 60px;
    margin-bottom: 35px;
  }
  .about-4-p {
    text-align: center;
    font-size: 20px;
    line-height: 36px;
    width: 78%;
    margin-left: 11%;
  } 
  .about-4-alumni-img {
    height: 250px;
  }
}

@media screen and (max-width: 600px) {
  .about-panel-1 {
    height: 500px;
  }
  .about-1-left-body {
    margin: 60px 10%;
    height: 281px;
    width: 85%;
    margin-left: 7.5%;
  } 
  .about-1-left-heading {
    text-align: center;
    font-size: 32px;
    padding-top: 60px;
    margin-bottom: 30px;
  }
  .about-1-left-paragraph {
    text-align: center;
    font-size: 16px;
    font-weight: 300;
    padding-top: 20px;
    line-height: 32px;
  }
  .about-panel-2 {
    height: 550px;
  }
  .about-2-text {
    width: 85%;
  }
  .about-2-header {
    margin-top: 40px;
    margin-bottom: 30px;
    font-size: 32px;
    color: var(--dark-pink);
  }
  .about-2-paragraph-1 {
    font-size: 18px;
    line-height: 32px;
  }
  .about-2-paragraph-2 {
    font-size: 18px;
    line-height: 32px;
    margin-top: 32px;
  }
  .yellow-semicircle {
    margin-bottom: -456px;
    width: 100%;
  }
  .about-panel-3 {
    height: 2100px;
  }
  .about-3-header {
    font-size: 32px;
    padding-top: 35px;
  }
  .value-container {
    width: 85%;
    height: 340px;
    margin-bottom: 40px;
  }
  .about-panel-4 {
    height: 630px;
    background-color: #fefefe;
  } 
  .about-4-header {
    font-size: 32px;
    padding-top: 40px;
    width: 90%;
    margin-left: 5%;
    margin-top: 10px;
    margin-bottom: 20px;
  } 
  .about-4-p {
    font-size: 16px;
    line-height: 32px;
    width: 85%;
    margin-left: 7.5%;
    padding: 20px 0;
  } 
  .about-4-alumni-container {
    display: flex;
    justify-content: center;
    margin: 40px 0;
  } 
  .about-4-alumni-img {
    height: 150px;
  }
}