@import "../../../styles/common.css";

.timeline {
  height: 250px;
  margin: 1em;
  line-height: 250px;
  position: relative;
  text-align: center;
}

.timeline:before {
  content: "";
  position: absolute;
  width: 415px;
  top: 50%;
  margin-left: 90px;
  height: 3px;
  background: #909af8;
}

.event {
  width: 20px;
  height: 20px;
  position: relative;
  margin: 0 90px;
  display: inline-block;
  background: var(--dark-purple);
  vertical-align: middle;
  border-radius: 50%;
  border: solid;
  border-width: 4px;
  border-color: white;
}

.number {
  font-family: "Source Code Pro", monospace;
  top: -175px;
  position: absolute;
  font-size: 18px;
}

.detail {
  font-family: "Source Code Pro", monospace;
  position: absolute;
  top: 30px;
  left: -60px;
  line-height: 15px;
  width: 140px;
  white-space: nowrap;
  text-align: center;
}

.event-title {
  font-weight: bold;
  font-size: 20px;
}

.event-date {
  font-size: 18px;
}

@media screen and (max-width: 800px) {
  .timeline {
    margin-top: -25px;
    height: 250px;
    line-height: 250px;
    position: relative;
    text-align: center;
  }

  .timeline:before {
    content: "";
    position: absolute;
    width: 290px;
    top: 50%;
    margin-left: 60px;
    height: 3px;
    background: #909af8;
  }

  .event {
    width: 15px;
    height: 15px;
    position: relative;
    margin: 0 60px;
    border-width: 3px;
  }

  .number {
    font-size: 14px;
  }

  .event-title {
    font-size: 16px;
  }

  .event-date {
    font-size: 16px;
  }
}

@media screen and (max-width: 600px) {
  .timeline:before {
    margin-left: 50px;
    width: 200px;
  }

  .event {
    margin: 0 40px;
  }

  .event-title {
    font-size: 12px;
  }

  .event-date {
    font-size: 12px;
  }
}
