.contact-us-students {
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 20px;
  color: var(--light-pink);
}

.contact-us-top-panel-img {
  width: 80%;
  max-height: 500px;
}

.heart-logo {
  width: 25%;
  max-height: 90%;
  position: absolute;
  left: 0;
  top: 0;
  padding-top: 50px;
}

.faq-title{
  font-size: 40px;
  margin: 0 20px 40px 20px;
}

.contact-us-middle-third {
  position: relative;
  min-height: 50vh;
  padding: 50px 0;
}

.contact-us-middle-items {
  max-width: 2000px;
  min-height: 50vh;
  align-items: center;
  margin: auto;
}

.middle-third-info {
  margin: auto 100px auto 50%;
  padding-top: 10vh;
  line-height: 25px;
}

.middle-contact-header {
  font-family: Montserrat;
  font-style: normal;
  font-weight: 600;
  font-size: 18px;
  line-height: 22px;
  color: #f58ea6;
}

.middle-contact-title {
  font-family: Montserrat;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  color: #6331d8;
}

#contact-us-bottom-third {
  margin: 120px auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

#contact-us-bottom-third h1 {
  color: var(--dark-pink);
  text-align: center;
}

.contact-us-bottom-third-items {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-evenly;
  width: 75%;
}

.bottom-third-info {
  flex-basis: 30%;
}

@media screen and (max-width: 800px) {
  .question-text{
    font-size: 18px !important;
  }

  .middle-third-info {
    flex-basis: 70%;
  }

  .contact-us-bottom-third-items {
    width: 70% !important;
  }
}

@media screen and (max-width: 1500px) {
  .heart-logo {
    top: 20%;
  }
}

@media screen and (max-width: 1100px) {
  .contact-us-bottom-third-items {
    width: 60vw;
  }    

  .middle-third-info {
    padding-top: 0;
  }
}

@media screen and (max-width: 800px) {
  .heart-logo {
    width: 0%;
  }

  .contact-us-top-panel-img {
    width: 65%;
  }

  .contact-mobile {
    margin-top: 10%;
  }

  .contact-us-img {
    display: none;
  }
  
  .heart-logo {
    width: 0%;
  }

  .contact-us-middle-third {
    margin: 100px 0;
  }

  .middle-third-info {
    margin: 0 auto;
    text-align: center;
    padding: 0 5%;
  }   
}

@media screen and (max-width: 768px) {
  .bottom-third-info {
    flex-basis: 60%;
  }

  .contact-us-bottom-third-items {
    width: 70vw;
  }
}

@media screen and (max-width: 550px) {
  .contact-us-bottom-third-items {
    width: 90vw;
  }
}