@import "../../../styles/common.css";

.ctc-contact-bg {
  position: absolute;
  background-color: white;
  min-height: 100%;
  height: 100vh;
  width: 100%;
  overflow: visible;
}

.ctc-contact-container {
  margin-top: 60px;
  padding: 0;
  width: 100%;
  min-height: calc(100% - 300px);
  color: white;
  text-align: center;
  overflow: auto;
}

.contact-footer.contact-footer {
  position: static;
  margin-top: 0px;
}

.ctc-contact-1-container {
  width: 100%;
  height: 700px;
  background-color: #faf7ff;
}

.ctc-contact-1-leftcolumn {
  width: 40%;
  height: 100%;
  float: left;
  background-image: url("../../../images/contactUs/palepurplectc.svg");
  background-repeat: no-repeat;
  background-size: calc(50px + 60%);
  background-position-y: 35%;
}

.ctc-contact-1-rightcolumn {
  width: 60%;
  height: 100%;
  float: right;
}

.ctc-contact-1-heading {
  font-family: Source Code Pro;
  font-weight: 600;
  font-size: 24px;
  color: var(--dark-pink);
  text-align: left;
  padding: 0 0 0 10px;
  margin: calc(60px + 7%) 0 15px 0;
}

.ctc-contact-1-subhead {
  font-family: Inter;
  font-weight: 600;
  font-size: 40px;
  color: var(--dark-purple);
  text-align: left;
  padding: 10px 0 30px 10px;
  margin: 0;
}

.ctc-contact-1-p {
  color: black;
  font-family: Inter;
  font-size: 18px;
  font-weight: 400;
  line-height: 27px;
  text-align: left;
  padding: 0 10% 15px 10px;
  margin: 0;
}

.ctc-contact-1-email-link {
  color: var(--dark-pink);
  font-weight: 600;
  text-decoration: underline;
}

.ctc-contact-1-buttons {
  display: flex;
  width: clamp(400px, 40%);
  margin: 25px 0 0 10px;
}

.ctc-contact-1-link {
  text-decoration: none;
}

.ctc-contact-1-portfolio {
  border: 1.5px solid var(--dark-purple);
  color: var(--dark-purple);
  font-weight: 500;
  padding: 6px 22px;
  border-radius: 3px;
  display: inline;
  margin: 0 30px 0 0;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.ctc-contact-1-getintouch {
  background-color: var(--dark-purple);
  color: #fff;
  padding: 6px 25px;
  border-radius: 3px;
  display: inline;
  margin: 0 30px 0 0;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.ctc-contact-2-container {
  width: 100%;
  height: 400px;
  background-color: white;
}

.ctc-contact-2-heading {
  color: var(--dark-pink);
  font-family: Inter;
  font-weight: 600;
  font-size: 40px;
  margin: 0;
  padding: 40px 0 10px 0;
}

.ctc-contact-2-subhead {
  color: black;
  font-family: Inter;
  font-weight: 400;
  font-size: 18px;
  margin: 0;
  padding: 20px 0;
}

.ctc-contact-2-socials {
  display: flex;
  justify-content: center;
  margin-top: 25px;
}

.ctc-contact-2-social-link {
  text-decoration: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  -o-user-select: none;
  user-select: none;
}

.ctc-contact-2-social-card {
  height: 100px;
  width: 160px;
}

.ctc-contact-2-social-img {
  color: var(--dark-pink);
  width: 45px;
}

.ctc-contact-2-email-img {
  margin-top: 4px;
  margin-bottom: 3px;
  width: 55px;
}

.ctc-contact-2-medium-img {
  margin-top: -1px;
  margin-bottom: 2px;
  width: 50px;
}

.ctc-contact-2-social-text {
  color: var(--dark-pink);
  font-size: 16px;
  font-weight: 500;
  margin-top: 8px;
}

@media screen and (max-width: 850px) {
  .ctc-contact-container {
    min-height: 90%;
  }
  .ctc-contact-1-container {
    height: 600px;
  }
  .ctc-contact-1-leftcolumn {
    width: 30%;
    height: 100%;
    background-size: calc(20px + 60%);
    background-position-y: 40%;
  }
  .ctc-contact-1-rightcolumn {
    width: 70%;
  }
  .ctc-contact-1-heading {
    padding: 0 0 0 10px;
    margin: calc(30px + 7%) 0 15px 0;
  }
  .ctc-contact-1-subhead {
    font-size: 32px;
    padding: 10px 0 25px 10px;
  }
  .ctc-contact-1-p {
    font-size: 16px;
    line-height: 27px;
    text-align: left;
    padding: 0 10% 10px 10px;
    margin: 0;
  }
  .ctc-contact-1-buttons {
    display: block;
    width: 60%;
    margin: 25px 0 0 10px;
  }
  .ctc-contact-1-portfolio {
    padding: 4.5px 22px;
    border-radius: 3px;
    display: block;
    margin: 0 0 10px 0;
  }
  .ctc-contact-1-getintouch {
    padding: 6px 25px;
    border-radius: 3px;
    display: block;
    margin: 0 0 10px 0;
  }
  .ctc-contact-2-heading {
    font-size: 32px;
    padding: 30px 0 10px 0;
  }
  .ctc-contact-2-subhead {
    font-size: 16px;
    line-height: 24px;
    padding: 10px 0;
    width: 80%;
    margin-left: 10%;
  }
  .ctc-contact-2-socials {
    flex-wrap: wrap;
    height: 300px;
  }
  .ctc-contact-2-social-card {
    flex: 0 0 33%;
    width: 180px;
    padding-bottom: 20px;
  }
  .ctc-contact-2-social-img {
    color: var(--dark-pink);
    width: 45px;
  }
  .ctc-contact-2-special-social-img {
    margin-top: -2px;
    width: 55px;
  }
  .ctc-contact-2-social-text {
    color: var(--dark-pink);
    font-size: 16px;
    font-weight: 500;
    margin-top: 8px;
  }
}

@media screen and (max-width: 600px) {
  .ctc-contact-1-container {
    height: 800px;
  }
  .ctc-contact-2-social-card {
    flex: 0 0 33%;
    width: 120px;
    padding-bottom: 10px;
  }
}
